SELECT * FROM mta_data m
LEFT JOIN neighborhoods n ON m.field4 = n.field1
#----
UPDATE mta_data
SET field4 ='PARK PLACE-IRT'
WHERE field4 ='PARK PLACE' AND field6 ='IRT'
#----
UPDATE mta_data
SET field4 ='PARK PLACE-BMT'
WHERE field4 ='PARK PLACE' AND field6 ='BMT' 
#----
UPDATE mta_data
SET field4 ='BROADWAY-BMT'
WHERE field4 ='BROADWAY' AND field6='BMT'
#----  
UPDATE mta_data    
SET field4 ='BROADWAY-IND'
WHERE field4 ='BROADWAY' AND field6='IND'
#----
UPDATE mta_data
SET field4 ='59 ST-IRT'
WHERE field4 ='59 ST' AND field6='IRT'
#----
UPDATE mta_data
SET field4 ='59 ST-BMT'
WHERE field4 ='59 ST' AND field6='BMT'
#----#
UPDATE mta_data
SET field4 ='7 AV-BDE'
WHERE field4 ='7 AV' AND field5='BDE'
#----
UPDATE mta_data
SET field4 ='8 AV-N'
WHERE field4 ='8 AV' AND field6='N'
#----
UPDATE mta_data
SET field4 ='PROSPECT AV-2-5'
WHERE field4 ='PROSPECT AV' AND field5='25'
#----
UPDATE mta_data
SET field4 ='50 ST-D'
WHERE Field4 ='50 ST' AND field5='D'
#----
UPDATE mta_data
SET field4 ='77 ST-R'
WHERE Field4 ='77 ST' AND field5='R'
#----
UPDATE mta_data
SET field4 ='79 ST-D'
WHERE Field4 ='79 ST' AND field5='D'
#----
UPDATE mta_data
SET field4 ='86 ST-R'
WHERE Field4 ='86 ST' AND field5='R'
#----
UPDATE mta_data
SET field4 ='FULTON ST-G'
WHERE Field4 ='FULTON ST' AND field5='G'
#----
UPDATE mta_data
SET field4 ='GRAND-ST-L'
WHERE Field4 ='GRAND ST' AND field5='L'

#Find unmatched (NULL) values when joining MTA data table with my Station:Borough csv table

SELECT DISTINCT field4 FROM mta_data m
LEFT JOIN neighborhoods n ON m.field4 = n.field1
WHERE n.field2 IS NULL